.sortPriceDropDown {
    all: unset; /* Reset all inherited styles */
    min-width: 85px;
    right: -100px;
    top: 20px;
    border-radius: 15px;
    background-color: #632c7d !important;
    color: #ffffff;
    position: absolute;
    display: block !important;
    z-index: 1000; /* Ensure this is above other elements */
    transition: 0.3s ease-in-out;

    .sortPriceDropDownItem {
        margin-bottom: 10px;
        padding-left: 10px;
        color: #ffffff;
        font-size: 14px;
        line-height: 8px;

        &:hover {
            color: #ffffff;
            cursor: pointer;
        }
    }
}
