.sortPriceDropDown {
    all: unset; /* Reset all inherited styles */
    min-width: 150px !important;
    height: 65px !important;
    right: -150px;
    top: 60px;
    font-weight: 400 !important;
    border-radius: 0px 15px 15px;
    background-color: #311F43 !important;
    color: #ffffff;
    position: absolute;
    display: block !important;
    z-index: 1000; /* Ensure this is above other elements */
    transition: 0.3s ease-in-out;

    .sortPriceDropDownItem {
        margin-bottom: 20px;
        padding-left: 10px;
        color: #cccccc;
        font-size: 14px;
        line-height: 8px;

        &:hover {
            color: #ffffff;
            cursor: pointer;
        }
    }
}
