body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
}


.loaderContainer {
  min-width: 100px;

  min-height: 1em;
  background-color: #555;
  border-radius: 5px;
  align-self:center;
  min-height: 0.1em;
}

// .loaderBar {
//   width: 100%;
//   height: 100%;
//   background-color: #BB75DC;
//   border-radius: 5px;
//   animation: load 2s infinite;

//   min-height: 1em;
// }

// @keyframes load {
//   0% {
//     opacity: 0;
//     transform: translateX(0%);
//   }
//   70% {
//     opacity: 1;
//     transform: translateX(70%);
//   }
//   100% {
//     opacity: 0;
//     transform: translateX(100%);
//   }
// }


/* HTML: <div class="loader"></div> */
.loaderBar {
  min-width: 100px;
  height: 0.3em;
  background: 
    linear-gradient(#BB75DC 0 0) left -40px top 0/40px 20px,
    linear-gradient(#555 0 0) center/100% 50%; 
  background-repeat: no-repeat;
  animation: load 2s infinite;
}
@keyframes l5 {
  100% {background-position: right -40px top 0,center}
}

@keyframes load {
  0% {
    opacity: 0;
    background-position: left 0% top 0,center;
  }
  30% {
    opacity: 1;
    background-position: left 25% top 0,center;
  }
  55% {
    opacity: 0.8;
    background-position: left 50% top 0,center;
  }
  100% {
    opacity: 0;
    background-position: left 100% top 0,center;
  }
}