@import '/wwwroot/Source/containers/admin/library';
$percent-back: #512068;

.content {
    color: $white-3;
    font-size: 16px;
    line-height: 16px;
    overflow-y: hidden;
    user-select: none;

    h2.title {
        font-size: 28px;
        color: white;
        font-weight: normal;
        text-align: center;
        margin-top: 35px;
    }

    .loginTitle {
        text-align: center;
        font-size: 18px;
        display: block;
        margin: 30px 0 20px 0;
    }

    .switchWrapper {
        margin: 0 62px 0 85px;
        max-height: 502px;
        overflow-y: scroll;
        padding-right: 38px;
        padding-bottom: 30px;

        &::-webkit-scrollbar {
            width: 14px;
            height: 155px;
        }

        &::-webkit-scrollbar-thumb {
            border: 6px solid transparent;
            background-clip: padding-box;
            border-radius: 9999px;
            background-color: #9E5BB6
        }

        .switchContent {
            display: flex;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-top: 28px;

            .switch {
                display: flex;

                .percentValue {
                    height: 28px;
                    border-radius: 15px;
                    font-size: 14px;
                    background-color: $percent-back;
                    padding: 0 0 0 10px;
                }
            }
        }
    }

    .switchWrapper > div:first-child {
        margin-top: 0;
    }

    &::-webkit-scrollbar {
        width: 14px
    }

    &::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #83409b
    }

    .formItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;

        .name {
            padding-top: 18px;
            padding-right: 15px;
        }

        .doubleControl {
            display: flex;
        }
    }

    .changeAccessRights {
        width: 100%;
        background-color: #a045cb;
    }
}

.errors {
    height: 619px;

    .title {
        margin-top: 30px;
        font-size: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white-1;
    }

    .list {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        padding-left: 67px;
        padding-right: 67px;
        color: $white-3;

        .item {
            margin-top: 10px;
        }
    }
}