@import '/wwwroot/Source/containers/admin/library';

.content {
    color: $white-3;
    font-size: 16px;
    line-height: 16px;
    padding: 48px 78px 0 78px;
    overflow-y: auto;
    height: 619px;

    &::-webkit-scrollbar {
        width: 14px;
        height: 155px;
    }

    &::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #9E5BB6
    }

    .formItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;

        .name {
            padding-top: 18px;
        }

        .doubleControl {
            display: flex;
        }

        .calculatingPrice {
            display: flex;
            flex-direction: row-reverse;
            justify-content: end;
            font-size: 14px;
            margin: 10px;
        }
    }
}


.actions {
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex: 0 1 123px;
}