
.css-1km1ehz {
    padding: 0 0 0 0;
}
@import '/wwwroot/Source/containers/admin/library';
@import '../../../../shared/formItem/styles.scss';
.content {
    color: $white-3;
    font-size: 16px;
    line-height: 16px;
    padding: 48px 70px 0 115px;

    overflow-y: auto;
    height: 619px;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .formItem {
        .name {
            margin-right: 40px;
        }
        .doubleControl{
            align-items: baseline;
            justify-content: space-between;
        }
    }
}

.formRegionParams {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.actions {
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex: 0 1 123px;
    margin-bottom: 40px;
}

.currName {
    padding-left: 0.2em;
}

.paddingZero {
    padding: 0 !important;
}

.MuiOption-root{
    padding: 0 !important;
}

.MuiOption-root.css-1v42tcw{
    padding: 0 !important;
}

.activeHierarchy {
    justify-content: right;
}

