$purple-1: #8952A3;
$purple-2: #8A44AB;
$purple-3: #6B3087;
$purple-4: #632C7D;
$purple-5: #532569;
$purple-6: #332142;
$purple-header:#B93ED8;

$white-1: #FFFFFF;
$white-2: #D5D5D5;
$white-3: #D4D4D4;
$white-4: #B3B3B3;


$black-1: #131212;