@model ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger fade show" asp-validation-summary="All"></div>
}
<form method="post">
    <fieldset>
        <legend class="m-b-15">Сменить Пароль</legend>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary m-r-5">Сменить пароль</button>
    </fieldset>
</form>

