@import '/wwwroot/Source/containers/admin/library';

.wrapper {

    //margin-top: 30px;
    height: 100%;
    //overflow-y:auto;
    display: flex;
    flex-direction: column;
    font-family: 'Igra Sans';

    tr.active {
        background-color: $purple-1 !important;
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        margin-right: 8px;

        .listItemCheckbox {
            padding-left: 20px;
            padding-right: 20px;
        }

        .game {
            color: $white-3;
            width: 120px;

            .dlc {
                color: #D836E7;
            }
        }

        .product {
            // display: flex;
            // flex-direction: column;
            // align-items: start;
            padding-left: 30px;
            color: $white-3;
        }

        .price {
            color: $white-3;
            width: 217px;

            .items {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .priceParseErr {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .errMes {
                    display: flex;
                    font-size: 16px;
                    line-height: 20px;
                    color: $white-2;

                    img {
                        margin-left: 9px;
                    }
                }

                .errState {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }

        .lastSendedRegion {
            margin-left: -15px;
            margin-top: -20px;
            color: #D836E7;
            font-size: 14px;
            line-height: 20px;
        }

        .discount {
            color: $white-3;
            display: flex;
            align-items: center;

            .badge {
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    color: $white-3;
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            .date {
                color: $white-3;
                margin-left: 6px;
                font-size: 18px;
                line-height: 18px;
                min-width: 80px;
                width: 85px;
                display: flex;
                justify-content: center;
            }
        }

        .buttons {
            display: flex;
            align-items: center;

            .btnWrapper:first-child {
                margin-right: 13px;
            }
        }
    }

  

    .dump {
        height: 100%;
        background-color: $purple-4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 28px;
        line-height: 28px;

        color: $white-1;

        .loader {
            margin-bottom: 75px;
        }
    }

    .massChangeMenu {
        position: absolute;
        height: 331px;
        width: 254px;
        background-color: #502863;
        bottom: 120px;
        right: -254px;
        border-radius: 34px 0px 0px 34px;
        transition: all 0.2s linear;

        &.active {
            transform: translateX(-254px);
        }

        .title {
            font-size: 16px;
            line-height: 16px;
            color: $white-1;
            display: flex;
            justify-content: center;
            margin-top: 19px;
        }

        .actions {
            margin-top: 22px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .btnWrapper {
                margin-bottom: 19px;
            }
        }
    }

    .errPopover {

        width: 327px;
        height: 107px;
        color: $white-3;
        background-color: #43294B;

        padding: 14px 21px 13px 18px;
    }
}